.top_page{
    grid-area: encabezado;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list_menu_my{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container_review{
    grid-area: reseñas-destacadas;
    display: flex;
    justify-content: center;
}

.container_review2{
    grid-area: reseñas-destacadas;
    display: flex;
    flex-direction: column;
}