.top_page{
    grid-area: encabezado;
    display: flex;
    justify-content: center;
}

.list_menu_my{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container_review{
    grid-area: reseñas-destacadas;
    display: flex;
    justify-content: center;
}