.parallax__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../assets/img/parallax.jpg);
    background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size:  cover;
	height: 500px;

    .list_menu_my {
        list-style-type: none;
        text-align: center;
        height: 200px;
        padding: 0;
        margin: 0;

        li {
            a {
                text-decoration: none;
            }
        }
    }
}

.parallax__menu1 {
    .list_menu_my {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 0;
        padding: 0;

        li {
            a {
                text-decoration: none;
            }
        }
    }
}

.parent_building{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    border: solid;
    border-radius: 15px;
    
        .building{
            border: solid;
        border-radius: 15px;
        width: 70%;
    }
}